<p>dashboard works!</p>



<div style="display: flex; flex-direction: row">
  <div  style="display: flex; flex-direction: column">
    <a routerLink="/categories">categories</a>
    <a routerLink="/expenditures">expenditures</a>
  </div>

<!--  <div>-->
<!--    <table>-->
<!--      <th>-->
<!--        Rasxody-->
<!--      </th>-->
<!--      <tr>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>-->
<!--&lt;!&ndash;          <button (click)="addExpenditure()">add rasxod</button>&ndash;&gt;-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </div>-->
</div>
